.navbar{
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    position: sticky;
    margin: 0%;
    padding: 0%;
 
  }
  .name, .profile, .inbox{
    color: white;
  }
.profile{
    margin-left: auto;
    
}
.inbox{
  margin-left: 85%;
}
.buttonp{
    
    cursor: pointer;
    height: 30px;
    width: 50px;
    margin-right: 30px;
    text-align: flex;
    background-color: black;
    color: white;
    
}
.buttoni{
    
  cursor: pointer;
  height: 30px;
  width: 50px;
  margin-right: 30px;
  text-align: flex;
  background-color: black;
  color: white;
  
}
.signOutButton{
  cursor: pointer;
  height: 30px;
  width: 50px;
  margin-right: 30px;
  text-align: flex;
  background-color: black;
  color: white;
}
