.post{
    width: 100%;
    height: 100px;
    background-color: red;
}
.input{
    width: 30%;
    display: flex;
}
.what-to-post{
    text-align: center;
    color: black;
    font-size: larger;
}

.post-options{
    display: flex;
    align-items: center;
    margin-right: 10px;
    justify-content: space-evenly;
}
.post-type{
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding-bottom: 20px;
}
.button{
   background-color: transparent;
    cursor: pointer;
    border:0
}
.option{
    color: black;
}